<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <script type="text/javascript" th:src="@{main.js}" src="../main.js"></script>
    <title>Headlines</title>
</head>

<body>
<h3 class="text-center">Articles</h3>
<div class="container">
    <div class="input-group">
        <label for="country" class="col-form-label">Country:</label>
        <select type="text" class="form-control" id="country" name="country">
            <option value=""></option>
            <option value="pl" th:selected="${headline?.country?.contains('pl')}">pl</option>
            <option th:each="co : ${countries}"
                    th:value="${co}"
                    th:text="${co}"
                    th:selected="${headline?.country?.contains(co)}">
            </option>
                    <!--th:selected="${headline?.country == co }"/>-->
        </select>
        <label for="category" class="col-form-label">Category:</label>
        <select type="text" class="form-control" id="category" name="category">
            <option value=""></option>
            <option th:each="ca : ${categories}"
                    th:value="${ca}"
                    th:text="${ca}"
                    th:selected="${headline?.category?.contains(ca)}">
            </option>
                    <!--th:selected="${headline?.category == ca}"/>-->
        </select>
        <span class="input-group-btn">
        <!--<a href="" type="button" class="btn btn-default sBtn" id="searchBtn">search</a>-->
            <a href="#" th:onclick="'javascript:searchHeadline();'"
               class="btn btn-primary sBtn" id="searchBtn">search</a>
        </span></div>
    <div class="headline">
        <div class="headline-block">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Source Name</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="art,iteration :${headline?.articles}">
                        <td th:text="${iteration.index+1}">nr</td>
                        <td th:text="${art?.author}">author</td>
                        <td th:text="${art?.title}">title</td>
                        <td th:text="${art?.sourceName}">sourceName</td>
                        <td th:text="${art?.date}">date</td>
                        <td>
                            <a href="#" th:onclick="'javascript:openHeadlineModal(\''+ ${iteration.index} + '\');'"
                               class="btn btn-primary eBtn">Preview</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr/>
        </div>
    </div>

    <!-- modal -->
    <div th:fragment="headline" id="headlineModalHolder"></div>

</div>
</body>
</html>